{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block main %}
    {% if post.id %}
        <h1>Edit post #{{ post.id }}</h1>
    {% else %}
        <h1>New post</h1>
    {% endif %}

    {{ include('admin/blog/_form.html.twig', {
        form: edit_form,
        button_label: 'Save changes',
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
